{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
    
   
   Enter code:
   <form action="{% url 'core_index' %}" method="post">
      {% csrf_token %}
      <input type="text" name="user_room" placeholder="Please input code...">
      <button type="submit">Enter</button>
   </form>
   
   {% for message in messages %}
      {{message}}
   {% endfor %}
      

   <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
   </form>
{% endblock content %}