{% extends 'base.html' %}


{% block content %}

    
    <div class="p-4 flex justify-center items-center h-screen">
        <form class="flex flex-col w-fit gap-3" action="{% url 'core_issue' code=code %}" method="post">
            {% csrf_token %}
            <label class="text-xl font-semibold mb-3" for="issue">Would you provide your issue? (Optional)</label>
            <p class="text-sm text-gray-600">We can use the input so the staff can easily see</p>
            <input class="input input-bordered" type="text" id="issue" name="issue" placeholder="e.g. Lrn Issue">
            <div class="flex gap-2">
                <button class="btn btn-warning" type="submit">Next</button>
                <button class="btn" type="submit">Nah, I'll just go ahead</button>
            </div>
        </form>
    
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>

{% endblock content %}