{% extends 'staff/layout/staff_base.html' %}

{% block staff_content %}


<div id="roomalert">
  {% include 'staff/partials/roomalert.html' %}
</div>

<div class="place-items-center flex flex-col justify-center gap-4 grow">
  <div class="text-2xl font-semibold text-white rounded-3xl bg-[#506AD8] px-4">{{Room.code}}</div>
  <div class="text-9xl">
    <div id="count">{{Room.current_serving_queue_number}}</div>
    </div>
    
    <div class="flex flex-col gap-2">
      
      <div class="flex gap-2">
        <a href="javascript:history.back()" class="btn" type="submit">Back</a>
        <button class="btn grow" type="submit" onclick="my_modal_1.showModal()">Break</button>
        {% include 'staff/layout/break_modal.html' %}
        <form action="{% url 'staff_create_customer' code=Room.code %}">
          <button class="btn" type="submit">Add customer</button>
        </form>
        
          <div x-data="{ 
                  isSubmit:false,
                  submitForm() { 
                      this.isSubmit = true;
                      setTimeout(() => { 
                          this.isSubmit = false; 
                      }, 1000); 
                  }
              }">
              <form ws-send @submit.prevent="submitForm">
                {% csrf_token %}
                  <input type="hidden" name="hehe" value="hehe">
                  <button
                      class="btn btn-warning"
                      :disabled="isSubmit"
                      type="submit">
                      Next
                      <span x-show="isSubmit"
                          class="loading loading-spinner loading-sm"></span>
                  </button>
              </form>
          </div>
      </div>

      <div class="flex gap-2">
        
      </div>
    </div>
</div>

<script>
  
    function countdown(initialValue) {
      return {
        open: localStorage.getItem('staff_open') || false,
        counter: parseInt(localStorage.getItem('staff_timer')) || 60,
        countdownInterval: null,

        init(){
            let trys = localStorage.getItem('staff_open');

            if (trys !== null) {
                this.open = true; 
                this.startCountdown();
            }
        },
        toggleCountdown() {
            this.open = true
        
            if (this.open) {
              localStorage.setItem('staff_open', true);
              this.startCountdown();
            } else {
              this.stopCountdown();
              this.open = false
            }
          },
        startCountdown() {
          const interval = setInterval(() => {
            if (this.counter > 0) {
              this.counter--;
              localStorage.setItem('staff_timer', this.counter);
            } else {
              clearInterval(interval); // Stop the countdown at 0
              alert('Timer has stopped');
              localStorage.removeItem('staff_timer')
              localStorage.removeItem('staff_open')
              this.open = false; 
              this.counter = initialValue;
            }
          }, 1000);
        }
      };
    }
</script>




{% endblock staff_content %}

<!-- ------------------------------------------------------------------ -->

{% block side_content %}
<div hx-ext="ws" ws-connect="/ws/staff_room/" class="w-full p-2">
    <div id="queue_list"
        style="display: flex; gap:10px; flex-direction: column;">
        {% for room in rooms %}
        <div class="{% if room.user %} bg-indigo-800
                    {% else %}  bg-violet-800 {% endif %} 
                    text-black"
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px; border-radius: 12px;">
            <div class="flex gap-4">
                <div class="text-5xl w-7 font-semibold text-white flex flex-col justify-center">{{ room.queue_number }}</div>
                
                <div class="flex flex-col gap-1"> 
                  <div 
                    class="badge 
                      {% if room.status.pk == 1 %}
                      badge-warning
                      {% elif room.status.pk == 2 %}
                      badge-success
                      {% elif room.status.pk == 3 %}
                      badge-error
                      {% elif room.status.pk == 4 %}
                      badge-error
                      {% endif %}
                    "> 
                    <div class="font-semibold text-slate-800 text-xs lowercase">{{ room.status }}</div>
                  </div>
                  <div class="text-white font-semibold capitalize text-xl">{{room.user.username|default:"Guess"}}</div>
                  <div class="text-sm text-gray-400">{{room.issue.description}}</div>
                </div>
            </div>

            <form
                action="{% url 'staff_delete_customer' code=Room.code pk=room.id %}">
                <button type="submit"
                    class="p-2 shadow rounded-lg bg-slate-800">

                    <i class="bi bi-trash3-fill text-red-500"></i>
                </button>
            </form>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock side_content %}



